<form action="/add-credentials" method="POST">
  <div class="row">
    <label for="username">Username: </label>
    <input type="text" name="username" value="">
  </div>
  <div class="row">
    <label for="password">Password: </label>
    <input type="password" name="password" value="">
  </div>
  <div class="row">
    <label for="partnerKey">Partner key: </label>
    <input type="text" name="partnerKey" value="">
  </div>
  <button type="submit">Submit</button>
</form>
