<nav>
  <ul class="nav nav--left">
    <li><a href="/compliancy-connector">Home</a></li>
    <li><a href="/compliancy-connector/reports">Reports</a></li>
  </ul>
  <ul class="nav nav--right">
    <li><a href="/compliancy-connector/install-instructions">Install Snippet</a></li>
    <li><a href="/compliancy-connector/settings">Settings</a></li>
  </ul>
</nav>
