<aside>
  <h1>Settings</h1>
  <ul>
    <li><a href="/compliancy-connector/settings/profile">Profile</a></li>
    <li><a href="/compliancy-connector/settings/account">Account</a></li>
    <li><a href="/compliancy-connector/settings/notifications">Notifications</a></li>
    <li><a href="/compliancy-connector/settings/billing">Billing</a></li>
    <li><a href="/compliancy-connector/settings/support">Support</a></li>
    <li><a href="/compliancy-connector/settings/faq">FAQ</a></li>
    <li><a href="/compliancy-connector/settings/override">Override States</a></li>
  </ul>
</aside>
