
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vine Link</title>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
      ShopifyApp.init({
        apiKey: '{{apiKey}}',
        shopOrigin: "https://{{shop}}",
        debug: true
      });
      ShopifyApp.ready(function () {
        ShopifyApp.Bar.initialize({
          title: 'Vine Link',
        });
      });
  </script>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <main>
    {{{body}}}
  </main>

<script src="/js/app.js" charset="utf-8"></script>
</body>
</html>
