
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ship Compliant</title>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "cc4a45f80b5b09aa143cab3065972dd1",
        shopOrigin: "https://ship-compliant-dev.myshopify.com",
        debug: true
      });
      ShopifyApp.ready(function () {
        ShopifyApp.Bar.initialize({
          title: 'Compliancy Connector',
        });
      });
  </script>
</head>

<body>
  <div id="root"></div>

</body>
</html>
