
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ship Compliant</title>
  <link href="/css/uptown.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css">
  <script src="//cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: "{{apiKey}}",
      shopOrigin: "https://{{shop}}",
      debug: true
    });
  </script>
</head>

<body>

  <main>
    <header>
      <h1>Compliancy Connector</h1>
    </header>
    {{> nav }}
    {{{body}}}
  </main>
  <footer></footer>
  <script src="/js/app.js"></script>
</body>
</html>
