<div class="column 4">
  <article>
    <div class="card">
      <h1>You made it to step 2!</h1>
      <h2>Step 2</h2>
      <form action="/compliancy-connector/add-ship-compliant" method="POST">
        <div class="row">
          <label>Ship Compliant username: </label>
          <input type="text" name="sc_username" placeholder="ship compliant username" />
        </div>
        <div class="row">
          <label>Ship Compliant password: </label>
          <input type="text" name="sc_password" placeholder="ship compliant password" />
        </div>
        <button type="submit" class="secondary">Submit</button>
      </form>
    </div>
  </article>
</div>
