<div class="sign-up">
  <section class="sign-up__inner ">
    <h2 class="sign-up__header">Sign up</h2>

    <form action="/compliancy-connector/signup" method="POST">
      <h3 class="sign-up__sub-header">Personal information</h3>
      <div class="form-group">
        <label>First name:</label>
        <input type="text" name="first_name" autofocus required/>
      </div>
      <div class="form-group">
        <label>Last name:</label>
        <input type="text" name="last_name" required/>
      </div>

      <h3 class="sign-up__sub-header">Account information</h3>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" required />
      </div>
      <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" required />
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" required />
      </div>
      <div class="form-group">
        <label>Confirm password:</label>
        <input type="password" name="password_confirm" required />
      </div>
      <h3 class="sign-up__sub-header">ShipCompliant information</h3>
      <div class="form-group">
        <label>ShipCompliant username:</label>
        <input type="text" name="sc_username" required />
      </div>
      <div class="form-group">
        <label>ShipCompliant password:</label>
        <input type="password" name="sc_password" required />
      </div>
      <button type="submit" class="btn btn--primary">Submit</button>
    </form>
  </section>
</div>
