<div class="sign-up">
  <section class="sign-up__inner ">
    <div class="sign-up__heading">
      <img src="img/logo.svg" alt="Vine Link" class="sign-up__logo">
      <h2 class="sign-up__header">Sign up</h2>
    </div>


    <div>
      <h3 class="sign-up__sub-header">Personal information</h3>
      <div class="form-group">
        <label>First name:</label>
        <input type="text" name="first_name" id="sign-up-first" autofocus required/>
      </div>
      <div class="form-group">
        <label>Last name:</label>
        <input type="text" name="last_name" id="sign-up-last" required/>
      </div>

      <h3 class="sign-up__sub-header">Account information</h3>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" id="sign-up-email" required />
      </div>
      <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" id="sign-up-username" required />
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" id="sign-up-password" required />
      </div>
      <div class="form-group">
        <label>Confirm password:</label>
        <input type="password" name="password_confirm" id="sign-up-confirm" required />
      </div>
      <h3 class="sign-up__sub-header">ShipCompliant information</h3>
      <div class="form-group">
        <label>ShipCompliant username:</label>
        <input type="text" name="sc_username" id="sign-up-scuser" required />
      </div>
      <div class="form-group">
        <label>ShipCompliant password:</label>
        <input type="password" name="sc_password" id="sign-up-scpassword" required />
      </div>
      <button type="button" class="btn btn--primary" id="sign-up-submit">Submit</button>
    </div>
  </section>
</div>
