.nav li {
  display: inline-block;
  text-decoration: none;
}

.nav--left {
  float: left;
}

.nav--right {
  float: right;
}

.sort-group {
  float: right;
}

.sort-group li {
  display: inline-block;
  text-decoration: none;
}
