$sky: #DFE4E8;

table {
  width: 100%;
  margin-bottom: 30px;
}

th {
  text-align: left;
  border-bottom: 1px solid $sky;
  padding: 10px 0;
}
td {
  border-bottom: 1px solid $sky;
  padding: 10px 0;
}

tr:last-of-type {
  td {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.align-right {
  // text-align: right;
}
