$ink: #454F5B;
$nav: #40474c;
$grey: #828282;

.nav {
  background-color: $nav;
  height: 50px;
  margin-top: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 30px;

  &__list {
    list-style: none;
    padding-left: 0;
    height: 100%;
  }
  &__item {
    display: inline-block;
    margin-right: 30px;
    font-size: 15px;
    height: 100%;
  }

  &__item > a {
    color: $grey;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__item a:active {
    color: #212B35;
  }

  &__item:last-of-type {
    margin-right: 0;
  }

  &__active {
    background-color: #f4f6f8;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-weight: 800;
    color: $grey;

  }

}
