$green: #50B83C;
$red: #ED6347;

.tile-aggregate {

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__digits {
    font-size: 32px;
    font-weight: 800;
  }

  &__compliant &__digits {
    color: $green;
  }

  &__noncompliant &__digits {
    color: $red;
  }
}
